{% extends 'base.html' %}
{% block content %}

    <div class="failed-container">
        <lord-icon
            src="https://cdn.lordicon.com/tdrtiskw.json"
            trigger="hover"
            style="width:250px;height:250px">
        </lord-icon>

    
    <h1>Payment Failed</h1>
    <p>Your payment was not successful. Please try again or contact support if the issue persists.</p>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Retry Payment</a>
    <a href="{% url 'index' %}" class="btn btn-secondary">Return to Home</a>
    </div>
{% endblock %}