{% extends 'base.html' %}

{% load static %}

{% block content %}

<header class="hero">
    <h2>Explore Our Categories</h2>
    <p>Discover meals crafted with passion and flavor.</p>
  </header>

  <main class="category-container">
    {% for category in categories %}
    <div class="category-card">
      <h3>{{category.name}}</h3>
      <p>{{category.description}}</p>
      <span class="date">{{category.created_at}}</span>
      <a href="{% url 'fooditem' category.id %}" class="btn">View Item</a>
    </div>
    
    {% endfor %}
  </main>

    {% endblock %}