{% extends 'base.html' %}

{% block title %}Payment Successful{% endblock %}

{% block content %}
<div class="status-page success-container">
    <lord-icon
        src="https://cdn.lordicon.com/fsstjlds.json"
        trigger="hover"
        style="width:160px;height:160px">
    </lord-icon>

    <h1>Payment Successful!</h1>
    <p>Order ID: {{ order.id }}</p>
    <p>Thank you for your payment. Your order has been successfully processed.</p>
    <p>Total Amount Paid: {{ order.total_amount }}</p>
    <a href="{% url 'index' %}" class="btn">Return to Home</a>
</div>
{% endblock %}
